body {
  background-color: #4c4646;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  text-align: center;
}
.success
{
  background-color: #22bb33;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
}
